@import "bootstrap";



.boxcontainer {
  div {
    border: 1px solid blue;
    border-collapse: collapse;
  }

  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);

  margin-top: 30px;
}

.ship {
  background-color: red;
}

div.ship-border {
  border: solid red 1px;
  background-color: #ccc;
}